<app-top-bar></app-top-bar>
<!-- Inside app.component.html -->
<!-- parent-component.component.html -->



<div class="container">
  <app-category [selectedCategoryIds]="selectedCategoryIds" [likedProductCount]="likedProductCount">
  </app-category>
  <app-product-list [selectedCategoryIds]="selectedCategoryIds"
    [likedProductCount]="likedProductCount"></app-product-list>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->