<h2>Товары</h2>
<p>Избранное: {{ likedProductCount }}</p>
<div *ngFor="let product of products">
  <div *ngIf="isProductInSelectedCategories(product)">

    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>

    <img src="{{product.image}}">
    <div class="rating" style="height: 24px;">
      <h4>Рейтинг: {{ product.rating }}</h4>
      <img class="rating__star" src="../assets/star.svg">
    </div>

    <p *ngIf="product.description" style="width: 500px;">
      <strong>Описание: </strong>{{ product.description }}
    </p>

    <button type="button" (click)="share(product)">
      Поделиться
    </button>

    <a href="{{ product.href }}" style="margin-left: 24px;">Открыть в Kaspi.kz</a>


    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
    <input type="checkbox" (change)="toggleFavorite(product)">Избранное
    <button type="button" (click)="removeProduct(product)">
      Удалить
    </button>


  </div>
</div>