img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.rating__star {
    height: 12px;
    width: 12px;
}

body {
    margin-left: 100px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/